<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>EJS Engine</title>
</head>
<body>

<!--<ul>-->
    <% for(var i=0; i<imageArray.length; i++) {%>
        <a href="/images/uploads/fullsize/<%= imageArray[i] %>"><img src="/images/uploads/thumb/<%= imageArray[i] %>"></a>
    <% } %>
<!--</ul>-->
</body>
</html>